{% extends 'layouts/base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account Management
            </a>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'user:logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                  <button class="navbar-button">
                    <a class="nav-link active" aria-current="page" href="{% url 'user:delete-account' %}">Delete Account</a>
                  </button>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'user:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'user:signup' %}">Sign Up</a>
                </li>
              {% endif %}
            </ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}">Info</a>
            </li>
          <li class="nav-item">
            <a class="nav-link"href="{% url 'ticker:get-ticker' %}">Ticker Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="{% url 'leaderboard:leaderboard-view' %}">Leaderboard</a>
          </li>
          <li class="nav-item">
            <span style="font-size: 30px;" class="navbar-text">|</span>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item text-white">
            <a class="nav-link" href="">Username: {{ user.username }}</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" action="{% url 'ticker:ticker-info' %}" method="post">
          {% csrf_token %}
          <input class="form-control me-2" type="text" name="ticker" placeholder="Quick Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" id="quickLoadModalTrigger">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% comment %} base -> navbar -> modals -> layout {% endcomment %}