{% extends 'layouts/layout.html' %}

{% block title %}
    Info
{% endblock title %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Info</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Overview</h3>
    </div>
    <div class="d-flex row justify-content-center">
        <p class="col border border-2 border-secondary fs-5">This website will allow you to create an account, and trade stocks and ETF's using fake money, but with real time data.</p>
        <p class="col border border-2 border-secondary fs-5">In the future There will be an API endpoint to allow you to remotely and automatically perform operations with the site.</p>
        <p class="col border border-2 border-secondary fs-5">The purpose of this site is to help people refine their day trading skills with absolutely zero risk</p>
    </div>
    <div class="d-flex justify-content-center">
        <h3>Usage guide</h3>
    </div>
    <div class="d-flex row justify-content-center">
        <div class="row">
            <p class="col border border-2 border-secondary fs-5">You will need to create an account before you can access the full functionality of the page</p>
            <p class="col border border-2 border-secondary fs-5">You can find the sign up button underneath the Account Management dropdown in the navbar</p>
            <p class="col border border-2 border-secondary fs-5">Each new account will be given 25,000 dollars to trade with as that complies with the PDT rule</p>
            <p class="col border border-2 border-secondary fs-5">You can use quick search or Ticker Search to look up current information about a stock that was scraped from Yahoo Finance</p>
            <p class="col border border-2 border-secondary fs-5">In the home page when you are logged in you will see two buttons, buy order and sell order</p>
            <p class="col border border-2 border-secondary fs-5">The Buy Order button will take you to the page needed for you to fill out a buy order form</p>
        </div>
        <div class="row">
            <p class="col border border-2 border-secondary fs-5">The Sell Order button will take you to the page needed for you to fill out a sell order form, after completing this action your profit will be calculated</p>
            <p class="col border border-2 border-secondary fs-5">The Buy Order form has 3 inputs, ticker, stock amount and sell trigger</p>
            <p class="col border border-2 border-secondary fs-5">ticker is the stock ticker of the stock you want to buy</p>
            <p class="col border border-2 border-secondary fs-5">stock amount is the amount of stocks you want to purchase (the amount of money you spend will be the stock amount times the current price)</p>
            <p class="col border border-2 border-secondary fs-5">the sell trigger is the amount you want to sell the stock at, this will be done automatically for you when the stock reaches that price</p>
        </div>
    </div>

    <h3>Learn More: <i><a href="https://www.investopedia.com/">Investopedia.com</a></i></h3>
</div>
{% endblock content %}