{% extends 'layouts/layout.html' %}

{% block title %}
    Info
{% endblock title %}

{% block content %}
    <h1>Info</h1>

    <h4>Overview</h4>
        <p>This website will allow you to create an account, and trade stocks and ETF's using fake money, but with real time data.</p>
        <p>In the future There will be an API endpoint to allow you to remotely and automatically perform operations with the site.</p>
        <p>The purpose of this site is to help people refine their day trading skills with absolutely zero risk</p>
    
    <h4>Usage guide</h4>
        <p>You will need to create an account before you can access the full functionality of the page</p>
        <p>You can find the sign up button underneath the Account Management dropdown in the navbar</p>
        <p>Each new account will be given 25,000 dollars to trade with as that complies with the PDT rule</p>
        <p>You can use quick search or Ticker Search to look up current information about a stock that was scraped from Yahoo Finance</p>
        <p>In the home page when you are logged in you will see two buttons, buy order and sell order</p>
        <p>The Buy Order button will take you to the page needed for you to fill out a buy order form</p>
        <p>The Sell Order button will take you to the page needed for you to fill out a sell order form, after completing this action your profit will be calculated</p>

    <h4>Learn More:</h4>
    <a href="https://www.investopedia.com/">Investopedia.com</a>
{% endblock content %}