body {
    background-color: #96929b
}

a {
    text-decoration:solid;
}

.navbar-button {
    background: transparent;
    border: none !important;
}

.loading-graphic {
    width: 100px;
    height: 100px;
}

.confirmation-modal {
    background-color: #000000;
}

.hidden {
    display: none;
}