body {
    background-color: #8c8296
}

a {
    text-decoration:solid;
}

.navbar-button {
    background: transparent;
    border: none !important;
}

.loading-graphic {
    width: 100px;
    height: 100px;
}

.confirmation-modal {
    background-color: #000000;
}