{% extends 'layouts/layout.html' %}

{% block content %}
    <h1>Place a Buy Order</h1>
    <form action="{% url 'order:buy-order' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">

        <label for="ticker">Ticker: </label>
        <input type="text" name="ticker" required><br>

        <label for="stockAmount">Stock Amount: </label>
        <input type="text" name="stockAmount" required><br>

        <label for="sellTrigger">Sell Trigger: </label>
        <input type="text" name="sellTrigger"><br>

        <button class="btn btn-success">Submit</button>
    </form>
{% endblock content %}