{% extends 'layouts/layout.html' %}

{% block modalBody %}
    Your current portfolio is: {{ portfolio.totalPortfolioAmount }}
{% endblock modalBody %}

{% block confirmBtnContent %}
    Yes
{% endblock confirmBtnContent %}

{% block content %}

    {% load static %}
    <script src="{% static 'scripts/loading_graphic_trig.js' %}"></script>
    <script src="{% static 'scripts/modal_submit.js' %}"></script>

    <h1 class="text-center">Place a Buy Order</h1>
    <form action="{% url 'order:buy-order' %}" method="post" id="order-form" class="d-flex justify-content-center">
        <input type="hidden" name="username" value="{{ user.username }}">

        <input type="text" name="ticker" placeholder="Ticker" required><br>

        <input type="text" name="stockAmount" placeholder="Stock Amount" required><br>

        <button type="button" class="btn btn-success" id="loadModalTrigger" data-bs-toggle="modal" data-bs-target="#confirmModal">Submit</button>
    </form>
{% endblock content %}