{% extends 'layouts/layout.html' %}

{% block content %}
    <h3>ID: {{ order.id }}</h3>
    <h3>user: {{ order.user }}</h3>
    <h3>ticker: {{ order.ticker }}</h3>
    <h3>Buy Price: {{ order.buyprice }}</h3>
    <h3>Cash Amount: {{ order.cashAmount }}</h3>
    <h3>Stock Amount: {{ order.stockAmount }}</h3>
    <h3>Sell Price: {{ order.sellTrigger }}</h3>
    <h3>Profit: {{ order.profit }}</h3>
    <h3>Buy Date: {{ order.buydate }}</h3>
    <h3>Sell Date: {{ order.sellDate }}</h3>
{% endblock content %}